## Download the latest Bitcoin data from Bitstamp

In [31]:
import requests
import json
import time

In [34]:


# Set the start and end times for the API calls
start_time = 1313798400 # August 20st, 2011 in Unix timestamp format
end_time =   time.time() # Epoch seconds of the current execution time.

# Set the symbol and interval for the API calls
symbol = 'btcusd'
secondsOfAday = '86400'
intervalToLoad = 86400 * 7 * 26 # 26 weeks (half a year)

# Create an empty list to store the results
results = []

calls = 0

# Loop through the time range in 1 week intervals and call the API
while start_time < end_time:
    calls += 1
    
    # Build the API endpoint URL
    # see: https://www.bitstamp.net/api/#ohlc_data
    url = f'https://www.bitstamp.net/api/v2/ohlc/{symbol}?step={secondsOfAday}&start={start_time}&end={start_time + intervalToLoad}&limit=1000'

    # Make the API call
    response = requests.get(url)

    # Parse the JSON response and append the results to the list
    results += json.loads(response.text)['data']['ohlc']

    # Increment the start time by intervalToLoad
    start_time += intervalToLoad
    
    print(calls)

    # Pause for 1 second between API calls to avoid rate limiting
    time.sleep(1)

# Write the concatenated results to a file
with open('bitstamp-btc-ohlc.json', 'w') as f:
    json.dump(results, f)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [36]:
pd.read_json('bitstamp-btc-ohlc.json')

          close      high       low      open  timestamp       volume
0         10.90     10.90     10.90     10.90 2011-08-18     0.489908
1         11.69     11.85     11.15     11.85 2011-08-19     1.926578
2         11.70     11.70     11.70     11.70 2011-08-20     0.085470
3         11.70     11.70     11.70     11.70 2011-08-21     0.085470
4         11.70     11.70     11.70     11.70 2011-08-22     0.028632
...         ...       ...       ...       ...        ...          ...
21645  29333.00  29600.00  28922.00  29486.00 2023-04-28  2449.074977
21646  29247.00  29460.00  29061.00  29339.00 2023-04-29   932.479612
21647  29235.00  29961.00  29115.00  29252.00 2023-04-30  1415.255061
21648  28079.00  29344.00  27666.00  29254.00 2023-05-01  2913.862834
21649  28209.00  28256.00  27876.00  28079.00 2023-05-02   521.583102

[21650 rows x 6 columns]